body {
    font-family: Muli, Arial, sans-serif;
    font-size: 13px;
}

@media 
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {

    .image {
        background: url(/images/nag_logo.png) no-repeat;
        background-size: 200px 126px;
        width: 200px;
        height: 126px;
        display: inline-block;
    }
}

@media 
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {

    .diamond {
        background: url(/images/diamond.png) no-repeat;
        background-size: 39px 20px;
        width: 39px;
        height: 20px;
        display: inline-block;
    }
}

@charset "utf-8";

@font-face {
  font-family: 'Muli';
  src: url(/fonts/Muli-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Muli';
  src: url(/fonts/Muli-Light.ttf);
  font-weight: 200;
}

h1 {
    font-family: Muli;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 60px;
    text-align: left;
    margin-top: 0px;
    padding-left: 100px; 
    display: inline-block;
}

h2 {
    font-family: Muli;
    font-weight: 500;
    font-size: 22px;
    margin-top: 0px;
}

.title-bar {
    padding-bottom: 4px;
}

#task-section {
    padding: 10px;
}

#task-section > div {
    margin-bottom: 20px;
}

#task-section .task-body {
    display: inline-block;
}

#task-section .task-group {
    width: 150px;
    display: inline-block;  
    vertical-align: top;
}

#task-section .task-list {
    display: inline-block;  
}

#task-section .task-actions {
    display: inline-block;
    vertical-align: top;
}

#task-section h2 {
    text-align: right;
}


.container form {
    background-color: #f1f3f5;
    padding: 20px 0;
    border-radius: 1px;
}

a {
    margin-right: 14px;
    /*font-size: 18px;*/
    font-weight: 200;
    line-height: 2.1428571435;
}

.task-details {
    font-size: 14px;
}
ul {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}
ul .time {
    text-align: right;
    padding: 0;
    margin-right: 6px;
    font-size: 20px;
    font-weight: 200;

}

#new-task-link {
    display: inline-block;
    padding-left: 20px;
    font-size: 18px;
    color: #3276b1;
    /*font-weight: 500;*/
    text-transform: lowercase;
    vertical-align: middle;
}


.container .jumbotron.title-bar {
    padding-left: 40px;
    padding-top: 10px;
}

label {  font-weight: 400; }

input.form-control { 
    /*font-size: 18px;*/
    border: 1px solid #DDD; 
    padding: 4px 10px; 
    margin-right: 14px; 
    border-radius: 0px;
    line-height: 26px;
    height: inherit;
}

ul li.finished .time {
    text-decoration: line-through;
}

#tag-section {
    padding: 10px;
}

#tag-section ul li a, #tag-section ul li span{
    /*font-weight: bold;*/
    padding: 4px 6px;
    background-color: #f1f3f5;
    font-size: 14px;
}

#tag-section ul li span {
    background-color: white;
    font-weight: 200;
    line-height: 2.1428571435;
}

#tag-section ul li a.selected{
    padding: 4px 6px;
    background-color: white;
    font-size: 14px;
    color: black;
}

#tag-section ul a.show-all {
    background-color: white;
}

#new-task-modal .modal-dialog {
    width: 800px;

}

#new-task-modal .modal-dialog .modal-content{
    width: 800px;
    background-color: #f1f3f5;
}

#new-task-modal .modal-dialog .modal-body label {
    font-size: 18px;
    font-weight: 500px;
}


.tags {
    display: inline-block;
    padding-left: 0;
}

.tags li {
    display: inline-block;
    margin-right: 6px;
    font-style: italic;
}

/*.menu li a
{
    color: black;
    font-weight: bold;
}
.menu li a.selected {
    color:red;
}*/

span.nag-logo {
    font-family: Muli;
    font-size: 50px;
    font-weight: bold;
}

.modal-dialog {
    box-shadow: 0;
}
.modal-content {
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #333;
}

.modal-content h2 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 200;
}

.modal-content p {
    font-size: 14px;
    font-weight: 200; 
    margin-bottom: 30px;
}

#logonModal .modal-body {
    margin-bottom: 10px;
}

.modal-footer {
    text-align: left;
}

#task-section > div > ul {
    padding-left: 26px
}

#tag-section {
    margin-top:10px;
    padding-top: 20px;
    padding-left: 30px;
    border-top: 2px solid #f1f3f5;
    border-left: 2px solid #f1f3f5;
}

#task-section {
    padding-top: 20px;
    margin-top:10px;
    border-top: 2px solid #f1f3f5;
    /*border-left: 1px solid #DDD;*/
}

#right-side {
    padding: 0px;
}

#actions {
    padding: 10px;
    font-size: 18px;
    color: #3276b1;
    /*font-weight: 500;*/
    text-transform: lowercase;
    vertical-align: middle;
}

#actions a {
    line-height: 20px;
}

#actions div {
    padding-bottom: 6px;
}

#actions span {
    vertical-align: top;
    padding-top: 4px;
    font-size: 18px;
}

#selected-tag h2 {
    text-align: left;
    margin-left: 176px;
}
