body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
}

@media 
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {

    .image {
        background: url(/images/nag_logo.png) no-repeat;
        background-size: 200px 126px;
        width: 200px;
        height: 126px;
        display: inline-block;
    }
}

@media 
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {

    .diamond {
        background: url(/images/diamond.png) no-repeat;
        background-size: 39px 20px;
        width: 39px;
        height: 20px;
        display: inline-block;
    }
}

@charset "utf-8";

@font-face {
  font-family: 'Muli';
  src: url(/fonts/Muli-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Muli';
  src: url(/fonts/Muli-Light.ttf);
  font-weight: 200;
}

h1 {
    font-family: Muli;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
}

h2 {
    font-family: Muli;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

.container .jumbotron { 
    font-size: 18px;
    padding: 20px;;
    border-radius: 1px;
    background-color: white;
    margin-bottom: 0px;
}

.jumbotron .title { 
    margin: 0 0 0px 0px; 
    font-size: 52px;
    
}

.title-bar {
    padding: 10px;
    text-align: center;

}

#task-section {
    padding: 10px;
}

#task-section > div {
    text-align: center;
}

#task-section .diamond {
    margin-top: 10px
}

.container .jumbotron-form {
    background-color: #f1f3f5;
}

a {
    margin-right: 14px;
}

ul li {
    line-height: 40px;
    text-align: center;
}
ul {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}
ul .time {
    text-align: right;
    padding: 0;
    margin-right: 6px;
    font-size: 20px;
    font-weight: 500;

}


.container .jumbotron.title-bar {
    padding-left: 40px;
    padding-top: 10px;
}

label { margin-right: 10px; font-weight: 400; }

input { 
    border: 1px solid #DDD; 
    padding: 4px 10px; 
    margin-right: 14px; 
}

ul li.finished .time {
    text-decoration: line-through;
}