<div ng-controller="NagCtrl" id='dash'>

  <div class="title-bar" > 
    <h1>NAG</h1>
    <div id='new-task-link'>
      <span class="glyphicon glyphicon-plus"></span> <a href='' ng-click='showNewTaskModal()'>Add New Task</a>
    </div>
  </div>

  <div class='row' ng-show="tasks.length > 0" >

    <section ng-cloak id='task-section' class='col-md-offset-1 col-md-8'>
        <div id='selected-tag' ng-show='Tag.selected != null'>
          <h2>#{{Tag.selected.name}}</h2>
        </div>


        <div ng-show='tasks.today().length > 0' >
          <div class='task-group'>
            <h2>today</h2>
          </div>
          <ul class='task-list'>
            <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.today() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}" ng-include="'/templates/task.html'"></li>
          </ul>
        </div>
        <div ng-show='tasks.thisWeek().length > 0' >
          <div class='task-group'>
            <h2>this week</h2>
          </div>
          <ul class='task-list'>
            <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.thisWeek() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}" ng-include="'/templates/task.html'"></li>
          </ul>
        </div>
        <div ng-show='tasks.nextWeek().length > 0'>
          <div class='task-group'>
            <h2>next week</h2>
          </div>
          <ul class='task-list'>
            <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.nextWeek() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}" ng-include="'/templates/task.html'"></li>
          </ul>
        </div>
        <div ng-show='tasks.thisMonth().length > 0' >
          <div class='task-group'>
            <h2>this month</h2>
          </div>
          <ul class='task-list'>
            <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.thisMonth() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}" ng-include="'/templates/task.html'"></li>
          </ul>
        </div>
        <div ng-show='tasks.nextMonth().length > 0' >
          <div class='task-group'>
            <h2>next month</h2>
          </div>
          <ul class='task-list'>
            <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.nextMonth() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}" ng-include="'/templates/task.html'"></li>
          </ul>
        </div>
    </section>
    <div class='col-md-2' id='right-side'>
      <section class="menu " ng-controller="TagFilterCtrl" id='tag-section'>
        <h2>tag</h2>
        <ul>
          
          <li ng-repeat="tag in all_tags | orderBy:'name'">
            <a ng-show='Tag.selected.name != tag.name' ng-class="{selected: Tag.selected.name == tag.name}" ng-click="selectTag(tag) " href="#">{{tag.name}}</a>
            <span ng-show='Tag.selected.name == tag.name'>{{tag.name}}</span>
          </li>

          <li>
            <a class='show-all' ng-class="{selected: Tag.selected == null}" ng-show="Tag.selected != null" ng-click="selectTag(null)" href="#">show all</a>
          </li>
        </ul>
      </section>
    </div> 
  </div>

  <div ng-include="'/templates/notifications.html'"></div>
  <div ng-include="'/templates/new_task.html'"></div>
</div>

