<!DOCTYPE html>
<html lang="en" ng-app="nag" ng-controller="NagCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>nag</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/css/nag.css" rel="stylesheet">
  </head>
  <body>
    
    
    <div ng-include="'/templates/notifications.html'"></div>

    <div class="container"  >

      

      <div class="jumbotron title-bar" > 
        <h1 class='title'>nag</h1>
      </div>

      <div class="jumbotron">
        <form role="form" ng-submit="submit()" >
            <div class="form-group">
                <label for="task">I really should do this</label>
                <input ng-model="task" name="task" type="text" placeholder="eg Timesheet">
            </div>
            <div class="form-group">
                <label for="task">by the latest</label>
                <input ng-model="deadline" name="task" type="text" placeholder="eg Friday" ></input>
                <a href="#" ng-click="deadline = 'tomorrow';" >tomorrow</a>
                <a href="#" ng-click="deadline = '2 days from now';" >2 days from now</a>
                <a href="#" ng-click="deadline = 'next week';">next week</a>
                <a href="#" ng-click="deadline = 'next month';">next month</a>
            </div>
            <div class="form-group">
              <input type="submit" id="submit" value="Create Nag" class="btn btn-primary" />
            </div>
        </form>
      </div>

      <section ng-show="tasks.length > 0" class="jumbotron" ng-cloak id='task-section'>
          <div ng-show='tasks.today().length > 0'>
            <h2>today</h2>
            <ul>
              <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.today() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}">
                <span class="deadline">{{task.deadlineInWords}}</span>
                <span class="time" >{{task.task}}</span>
                <button ng-show="!task.finished && selected" type="button" ng-click="taskDone(task)" class="btn btn-default btn-finished">finished</button>
                <button ng-show="selected" type="button" class="btn btn-default btn-delete" ng-click="taskDelete(task);">delete</button>
              </li>
            </ul>
          </div>
          <div ng-show='tasks.thisWeek().length > 0'>
            <h2>this week</h2>
            <ul>
              <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.thisWeek() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}">
                <span class="deadline">{{task.deadlineInWords}}</span>
                <span class="time" >{{task.task}}</span>
                <button ng-show="!task.finished && selected" type="button" ng-click="taskDone(task)" class="btn btn-default btn-finished">finished</button>
                <button ng-show="selected" type="button" class="btn btn-default btn-delete" ng-click="taskDelete(task);">delete</button>
              </li>
            </ul>
          </div>
          <div ng-show='tasks.nextWeek().length > 0'>
            <h2>next week</h2>
            <ul>
              <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.nextWeek() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}">
                <span class="deadline">{{task.deadlineInWords}}</span>
                <span class="time" >{{task.task}}</span>
                <button ng-show="!task.finished && selected" type="button" ng-click="taskDone(task)" class="btn btn-default btn-finished">finished</button>
                <button ng-show="selected" type="button" class="btn btn-default btn-delete" ng-click="taskDelete(task);">delete</button>
              </li>
            </ul>
          </div>

          <div ng-show='tasks.thisMonth().length > 0'>
            <h2>this month</h2>
            <ul>
              <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.thisMonth() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}">
                <span class="deadline">{{task.deadlineInWords}}</span>
                <span class="time" >{{task.task}}</span>
                <button ng-show="!task.finished && selected" type="button" ng-click="taskDone(task)" class="btn btn-default btn-finished">finished</button>
                <button ng-show="selected" type="button" class="btn btn-default btn-delete" ng-click="taskDelete(task);">delete</button>
              </li>
            </ul>
          </div>
          <div ng-show='tasks.nextMonth().length > 0'>
            <h2>next month</h2>
            <ul>
              <li ng-mouseover="selected = true"  ng-mouseout="selected = false" ng-repeat="task in tasks.nextMonth() | orderBy:'deadline_date'" class="{{task.finished ? 'finished': ''}}">
                <span class="deadline">{{task.deadlineInWords}}</span>
                <span class="time" >{{task.task}}</span>
                <button ng-show="!task.finished && selected" type="button" ng-click="taskDone(task)" class="btn btn-default btn-finished">finished</button>
                <button ng-show="selected" type="button" class="btn btn-default btn-delete" ng-click="taskDelete(task);">delete</button>
              </li>
            </ul>
          </div>



          </ul>
      </section>
    </div>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-animate.min.js"></script>
    <script src="/js/lib/angular-resource.min.js"></script>
    <script src="/js/lib/jquery-2.0.3.min.js"></script>
    <script src="/js/nag.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>    
  </body>
</html>
