<div ng-controller="NagCtrl" id='dash'>

  <div class="row" > 
    <div class="col-md-offset-1 col-md-8">
      <h1>NAG</h1>
      <div id='new-task-link'>
        <span class="glyphicon glyphicon-plus"></span> <a href='' ng-click='showNewTaskModal()'>Add New Task</a>
      </div>
    </div>

  </div>

  <div class='row' ng-if="tasks.length > 0" >
    <section ng-cloak id='task-section' class='col-md-offset-1 col-md-8'>
        <div id='selected-tag' ng-show='selectedTag != null'>
          <h2>#{{selectedTag.name}}</h2>
        </div>

        <task-list title='today' tasks="(tasks | tag:selectedTag | period:'today')" ></task-list>
        <task-list title='this week' tasks="(tasks | tag:selectedTag | period:'thisWeek')" ></task-list>
        <task-list title='next week' tasks="(tasks | tag:selectedTag | period:'nextWeek')" ></task-list>
        <task-list title='this month' tasks="(tasks | tag:selectedTag | period:'thisMonth')" ></task-list>
        <task-list title='next month' tasks="(tasks | tag:selectedTag | period:'nextMonth')" ></task-list>
    </section>

    <div class='col-md-2' id='right-side'>
      <section class="menu " id='tag-section'>
        <tag-section tags='tags' ng-model='selectedTag' />
      </section>
    </div> 

  </div>

  <div ng-include="'/templates/notifications.html'"></div>
  <div ng-include="'/templates/new_task.html'"></div>
</div>

